.spinner-container{
  top: 0px;
}

.loaderIcon {
  margin-right: 7px;
  top: 2px;
  animation: spin 1s infinite linear;
}

.bigIcon {
  font-size: 10rem;
}

@keyframes spin {
  from {
      transform: scale(1) rotate(0deg);
  }
  to {
      transform: scale(1) rotate(360deg);
  }
}